Flask==2.2.2
gunicorn==20.1.0
python-dotenv==0.21.0
boto3==1.26.50
opentelemetry-distro
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-flask
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-psycopg2
opentelemetry-instrumentation-botocore